/*custom.css*/


/*
 * Base structure
 */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	background: #ffffff;
}


.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*

 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed {
  border: 0;
  width: 100%;
  position: fixed;
  z-index: 9;
}

.navbar {
 	border-radius: 0;
 	border: 0;
}
.topbar-menu {
	padding-left: 0px;
	padding-right: 0px;	
}

.topbar-right-part {
	background: #ffffff;
}
.logo {
	background: #a92a24;
	color: #ffffff;
	padding: 10px 15px;
}

 
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus
.navbar-header a.navbar-brand {
	color: #8C8C8C;
}

.navbar-inverse {
	background: #293949;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-link, .navbar-inverse .btn-link {
color: #ffffff;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */


  @media (max-width: 768px) {
 		.sidebar {
   display: none ; 
  }
 }
 .sidebar {
		display: block;
	}
.toggle-menu {
  	padding: 80px 20px 0px;

}
  .toggled {
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: block;
 }

.toggled .side-nav {
	padding: 0px 0px 0px;
	margin: 6px 6px 0px;
	border-radius: 3px;
	background-color: #293949;
}

@media (min-width: 800px) {
	.sidebar {
  	top: 70px;
    bottom: 0;
    left: 0;
    z-index: 1000;
 	padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #293949;
    border-right: 1px solid #eee;
  }

  .toggle-menu {
  	display: none;
  }

  .submenu {
  	width: 100%;
  	list-style-type: none;
  	padding: 0px;
  	position: absolute;
  	top: 0;
  	left: 100%;
  	display: none;
  	z-index: 9999;
  }

  .side-nav li:hover .submenu {
  	display: block;
  	position: relative;
  }
  .topbar-right-part {
  	padding-left: 300px;
  	padding-top: 10px;
  }

}

/* Sidebar navigation */
.side-nav {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.side-nav > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #6a6667;
}
.side-nav > .active > a,
.side-nav > .active > a:hover,
.side-nav > .active > a:focus {
  color: #fff;
  background-color: #6f6b6a;
}


/*
 * Main content
 */

.main {
  padding: 10px 20px 20px 20px;
}
@media (min-width: 768px) {
  .main {
    padding-left: 40px;
    padding-top: 120px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*Users*/

.user-block {
	border-radius: 5px;
	border: 1px solid #cccccc;
	padding: 5px;
	margin-bottom: 20px;
	padding: 5px 20px;
	color: #333;
	background: #FFFFFF;
}

.edit-user {

}

.user-block .glyphicon {
	color: #333;
}

.edit-user-actions {
	list-style: none;
	float: right;
}

.edit-user-actions li {
	display: inline-block;
}

h3.user-name {
	font-weight: 300;
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 0px;
}

h5.user-username {
	font-size: 14px;
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 0px;
}
 
/* Content */

.content {
	padding: 10px; 
	margin-top: 20px;
 	font-weight: 400;
}

.content thead {
	background: #A92A24;
	color: #ffffff;
}

.content table {
	background: #ffffff;
	padding: 15px;
}

.edit_hover_class { 
 }

.edit_hover_class a {
	display:none;
	margin-left: 10px; 
}
.edit_hover_class:hover a {
 	 display: inline-block;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}
.placeholders h4 {
	margin-bottom: 0;
}
.placeholder {
	margin-bottom: 20px;
}
.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

.logo {
	background: rgb(26, 188, 156);
	color: rgb(255, 255, 255);
	padding: 10px 15px;
}

.side-nav > li > a {
	padding-right: 20px;
	padding-left: 20px;
	color: rgb(255, 255, 255);
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
}
.topbar-menu {
	padding-left: 0px;
	padding-right: 0px;
}

.side-nav li.disabled {
	background-color: #1ABC9C;
}

.side-nav li a:hover {
	color: #293949;
	border-left: 4px solid #1ABC9C;
}

.side-nav li.disabled a {
  	color: #ffffff !important;
}

.topbar-right-part {
	background: #293949;
}
.nav>li.disabled>a:hover, .nav>li.disabled>a:focus {
	cursor: default;
}
/*Admin dashboard*/
.huge {
	font-size: 40px;
}

.panel-green {
	border-color: #5cb85c;
} 
.panel-green .panel-heading {
	border-color: #5cb85c;
	color: #5cb85c;
	border-top: 4px solid #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-top: 4px solid #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #d9534f;
 }

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
	border-top: 4px solid #f0ad4e;
	border-color: #f0ad4e;
	color: #f0ad4e;
 }

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

#login-wrapper {
	margin: 100px auto;
	float: none;
}
.panel-primary .panel-heading h3.panel-title {
	color: #434a54;
}
@media (min-width: 768px) {

	#login-wrapper {
		margin: 300px auto;
		float: none;
	}
}



#login-container {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition: all 3s ease-in-out;
	-moz-transition: all 3s ease-in-out;
	-o-transition: all 3s ease-in-out;
	-ms-transition: all 3s ease-in-out;
	transition: all 3s ease-in-out;
}

.navbar-custom .icon-bar {
	background-color:#fff;
}

.navbar-custom {
	background-color: #293949;
    color:#fff;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
	background-color:#49bfff;
}

.navbar-custom a{
    color:#fefefe;
}

.navbar-custom .form-control:focus {
	border-color: #49bfff;
	outline: 0;
	-webkit-box-shadow: inset 0 0 0;
	box-shadow: inset 0 0 0;
}

#main, #main>.row {
	height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#left {
	height:100%;
}

.show-apartments {
	padding-top: 70px;
	background: #f5f5f5;
	overflow-y: scroll;
	height:100vh;
}

.apartment-single img {
	width: 100%;
	height: auto;
}

#map-canvas {
	width:50%;
    height:calc(100% - 0);
    position:absolute;
    right:16px;
    top:50px;
    bottom:0;
    overflow:hidden;
}

.apartments-frontpage {
	padding-left: 0px; 
	margin-left: 0px;
	margin-right: 0px;
}

.apartment-single {
	padding: 10px 15px 10px 15px;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 10px;
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid #ddd;
}
.apartment-single h5 {
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.apartment-single h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
#front-page-wrapper .row {
  margin-right: 0px; 
  margin-left: 0px; 
}

.divider {
	height: 1px;
	width: 100%;
	background-color: #3276B1;

}

#map-canvas-apartment {
        height: 400px;
        margin: 0px;
        padding: 0px
}
.apartment-img img {
	width: 100%;
	height: auto;
}

.payed {
	background-color: #5cb85c !important;
	color: #ffffff !important;
	text-align: center;
}

.not_payed {
	background-color: #f0ad4e !important;
	color: #ffffff !important;
	text-align: center;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle; 
}

.reservation-per-apartment {
	background-color: #1ABC9C;
	text-align: center;
 	color: #ffffff;
	margin-top: 10px;
}
 
#calendar {
 	margin: 0 auto;
}

#calendar .fc-sun	{ 
	color: #F00;
}  

.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }

.apartman_img img {
	width: 100%;
	height: auto;
}


/*==============================================
    GENERAL  STYLES    
    =============================================*/
	
body {
    font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#2F4050 !important;
}

 #wrapper {
    width: 100%;
    background-color: #2F4050;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F6F6F6;
   
}
#page-inner {
    width:100%;
    margin:50px 20px 10px 0px;
    background-color:#F6F6F6!important;
    padding:10px;
    min-height:1200px;
}

.admin-name{
	padding:0px 15px;
	text-align:center;
	background:#18A78A;
	color:#fff;
	height:50px;
	line-height:50px;
	font-size:20px;
}

.sd-toggle{
	line-height:50px;
	padding-left:15px;
}

.sd-toggle .fa{
	color:#2F4050 !important;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h2 {
   
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:13px;
    line-height:25px;
    padding-top:10px;
}
/*==============================================
   DASHBOARD STYLES    
    =============================================*/
.panel-back {
    background-color:#F8F8F8;

}
   .noti-box {
min-height: 100px;
padding: 20px;
}

    .noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
    .bg-color-green {
background-color: #00CE6F;
color: #fff;
}
 .bg-color-blue {
background-color: #A95DF0;
color: #fff;
}
  .bg-color-red {
background-color: #DB0630;
color: #fff;
}
  .bg-color-brown {
background-color: #B94A00;
color: #fff;
}


 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
      -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }
    .back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
     .back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}
     /*CHAT PANEL*/
 .chat-panel .panel-body {
height: 350px;
overflow-y: scroll;
}
 .chat-box {
margin: 0;
padding: 0;
list-style: none;
}
 .chat-box li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px dotted #808080;
}
 .chat-box li.left .chat-body {
margin-left: 90px;
}
 .chat-box li .chat-body p {
margin: 0;
color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
	height:60px;
	width:60px;
}



/*==============================================
    Tile Progress    
    =============================================*/


.tile-progress {
background-color: #303641;
color: #fff;
}
.tile-progress {
background: #00a65b;
color: #fff;
margin-bottom: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.tile-progress .tile-header {
padding: 15px 20px;
padding-bottom: 20px;
}
.tile-progress .tile-progressbar {
height: 2px;
background: rgba(0,0,0,0.18);
margin: 0;
}
.tile-progress .tile-progressbar span {
background: #fff;
}
.tile-progress .tile-progressbar span {
display: block;
background: #fff;
width: 0;
height: 100%;
-webkit-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
-moz-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
-o-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
}
.tile-progress .tile-footer {
padding: 10px 20px 20px 20px;
text-align: right;
background: rgba(0,0,0,0.1);
-webkit-border-radius: 0 0 3px 3px;
-webkit-background-clip: padding-box;
-moz-border-radius: 0 0 3px 3px;
-moz-background-clip: padding;
border-radius: 0 0 3px 3px;
background-clip: padding-box;
-webkit-border-radius: 0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
}
.tile-progress.tile-red {
background-color: #f56954;
color: #fff;
}
.tile-progress {
background-color: #3B5063;
color: #fff;
}
.tile-progress.tile-blue {
background-color: #0073b7;
color: #fff;
}
.tile-progress.tile-aqua {
background-color: #00c0ef;
color: #fff;
}

.tile-progress.tile-green {
background-color: #18a78a;
color: #fff;
}
.tile-progress.tile-cyan {
background-color: #00b29e;
color: #fff;
}
.tile-progress.tile-purple {
background-color: #999C9E;
color: #fff;
}
.tile-progress.tile-pink {
background-color: #ec3b83;
color: #fff;
}

.box-icon{
	margin:0 auto;
	width:70px;
	position:relative;
}

.box-icon .icon-box{
	position:absolute;
	height:70px;
	width:70px;
	line-height:70px;
	text-align:center;
	border-radius:50%;
	margin-top:-50px;
}

.box-icon .icon-box .fa{
	font-size:40px;
	line-height:70px;
}

.mrg-top-50{margin-top:50px;}


/*==============================================
    MENU STYLES    
    =============================================*/
.navbar-top-links li {
    display: inline-block;
}
.navbar-top-links li:last-child {
    margin-right: 15px;
}
.navbar-top-links li a {
    min-height: 50px;
    padding: 15px;
}
.navbar-top-links .dropdown-menu li {
    display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
    min-height: 0;
    padding: 3px 20px;
}
.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}
.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
    min-width: 0;
    width: 310px;
}
.navbar-top-links .dropdown-messages {
    margin-left: 5px;
	font-size:12px;
}
.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}
.navbar-top-links .dropdown-user {
    left: auto;
    right: 0;
}
.navbar-static-side ul li {
    border-bottom: 1px solid #e7e7e7;
}

.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}

.navbar-cls-top{
margin-bottom:0px !important;
}

.navbar-cls-top .navbar-brand {
	color: #fff;
background: #C90000;
width: 220px;
text-align: center;
font-size: 30px;
font-weight: 700;
}
.active-menu {
    background-color:#233645!important;
	border-left:4px solid #18a78a !important;
	color:#fff !important;
}

.active-menu:hover {
    background-color:#233645!important;
	border-left:4px solid #18a78a !important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#a7b1c2;
	background-color: #2F4050;
	text-shadow:none;
	border-left:4px solid #2F4050;
	
}
.sidebar-collapse > .nav > li > a {
	padding:12px 15px;
	border-left:4px solid #2F4050;
}
.sidebar-collapse > .nav > li {
		
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	color:#fff;
	outline:0;
	border-left:4px solid #18a78a ;
}

.nav-second-level li a{
	background:#3B5063 !important;
	font-size:12px;
}

.nav-second-level li a:hover{
	
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:#18a78a;
	top:20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:#18a78a;
	top:0px;
	z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}
.navbar-side {
	border:none;
	background-color: #2F4050;
	
}
.navbar-cls-top {
	background:#FFFFFF;
	border-bottom:none;
	margin-left:220px;
	box-shadow:0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.navbar-cls-top .navbar-brand:hover {
background: #C90000;
color:#fff;

}

.nav-icon-btn a{
	color:#999C9E !important;
	font-size:12px;
}

.navbar .nav-icon-btn > a .label {
    display: block;
    font-size: 10px;
    line-height: 10px;
    padding: 2px 4px;
    position: absolute;
    right: 14px;
	top:10px;
}

.navbar .nav-icon-btn .nav-icon-btn-danger .label {
    background: none repeat scroll 0 0 #e66454;
}

.navbar .nav-icon-btn .nav-icon-btn-success .label {
    background: none repeat scroll 0 0 #18A78A;
}

.navbar .nav-icon-btn .nav-icon-btn-warning .label {
    background: none repeat scroll 0 0 #F8AC59;
}

.navbar-default {
border:0px solid black;
     
}
.navbar-header {
    background: #2F4050;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #2F4050;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}


/*==============================================
    BREADCRUMB   
    =============================================*/


.breadcrumb {
    background: #F6F6F6;
    margin-bottom: 18px;
    position: relative;
	border-bottom:1px solid #e9e9e9;
}
.breadcrumb li + li:before {
    color: #ccc;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 7px;
    height: 8px;
    left: -1px;
    line-height: 8px;
    padding: 0;
    position: relative;
    text-align: center;
    top: -1px;
    width: 15px;
}
.breadcrumb li, .breadcrumb li a {
    color: #999;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
}
.breadcrumb li a:hover, .breadcrumb li:hover {
    color: #555;
	text-decoration:none;
}
.breadcrumb li.active {
    padding-left: 16px;
    position: relative;
}
.breadcrumb li.active:before {
    left: 0;
    margin-top: -3px;
    position: absolute;
    top: 50%;
}
.breadcrumb li.active, .breadcrumb li.active a {
    color: #555;
    text-decoration: none;
}
.breadcrumb.breadcrumb-dark > li + li:before {
    color: rgba(255, 255, 255, 0.4);
}
.breadcrumb.breadcrumb-dark li, .breadcrumb.breadcrumb-dark li a {
    color: rgba(255, 255, 255, 0.6);
}
.breadcrumb.breadcrumb-dark li a:hover, .breadcrumb.breadcrumb-dark li.active, .breadcrumb.breadcrumb-dark li.active a, .breadcrumb.breadcrumb-dark li:hover {
    color: #fff;
}
.breadcrumb.breadcrumb-no-padding {
    padding-left: 0;
    padding-right: 0;
}
.breadcrumb.breadcrumb-page {
    border-radius: 0;
    margin-left: -22px;
    margin-right: -22px;
    margin-top: -25px;
    padding-left: 18px;
    padding-right: 18px;
}
.breadcrumb-label {
    float: left;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin: 1px 0 -1px;
    padding-right: 15px;
}


/*==============================================
    PAGE HEADER     
    =============================================*/

.page-header {
    border-radius: 0;
    margin-left: -22px;
    margin-right: -22px;
    margin-top: -25px;
    padding-left: 5px;
    padding-right: 18px;
	overflow:hidden;
}

.page-header h1 {
    color: #666;
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.page-header-icon {
    font-size: 21px;
    line-height: 21px;
	padding-right:10px;
}

.panel-heading{
	border-radius:0px !important;
}

.panel-footer{
	background:#fff;
}

.panel-default > .panel-heading {
    background-color: #fff;
    border-color: #ddd;
    color: #2F4050;
	border-top:4px solid #E7EAEC;
	border-radius:0px !important;
}

.panel-primary{
	border:1px solid #2F4050;
}

.panel-primary > .panel-heading {
    background-color: #fff;
    border-color: #ddd;
    color: #2F4050;
	border-top:4px solid #2F4050;
	border-radius:0px !important;
}

.panel-success{
	border:1px solid #18A78A;
}

.panel-success > .panel-heading {
    background-color: #fff;
    border-color: #ddd;
    color: #2F4050;
	border-top:4px solid #18A78A;
	border-radius:0px !important;
}


.panel-warning{
	border:1px solid #F8AC59;
}

.panel-warning > .panel-heading {
    background-color: #fff;
    border-color: #ddd;
    color: #2F4050;
	border-top:4px solid #F8AC59;
	border-radius:0px !important;
}

.panel-info{
	border:1px solid #3276B1;
}

.panel-info > .panel-heading {
    background-color: #fff;
    border-color: #ddd;
    color: #2F4050;
	border-top:4px solid #3276B1;
	border-radius:0px !important;
}


.panel-danger{
	border:1px solid #E66454;
}

.panel-danger > .panel-heading {
    background-color: #fff;
    border-color: #ddd;
    color: #2F4050;
	border-top:4px solid #E66454;
	border-radius:0px !important;
}

.panel{
	border-radius:0px !important;
 }


/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

.btn{
	border-radius:0px !important;
}

.btn-circle{
	border-radius:25px !important;
}

.btn-success{
	background-color:#18A78A !important;
	border:1px solid #18A78A !important;
}

.btn-success:hover, .btn-success:focus{
	background-color:#159176 !important;
}

.btn-primary{
	background-color:#3B5063 !important;
	border:1px solid #3B5063 !important;
}

.btn-primary:hover, .btn-primary:focus{
	background-color:#233645 !important;
}


/*==============================================
    Forms   
    =============================================*/

.form-control{
	border-radius:0px !important;
}

.form-control:focus{
	box-shadow:none !important;
	border-color:#18A78A !important;
}

.quick .panel-body .btn:not(.btn-block) { width:120px;margin-bottom:10px; }
	.quick .btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
	.quick .btn-labeled {padding-top: 0;padding-bottom: 0;}
	.quick .input-group { margin-bottom:10px; }
	.quick .separator { border-right: 1px solid #dfdfe0; }
	.quick .fb-btn{ min-width:170px;padding-top:10px;padding-bottom:10px; }
	.quick .tw-btn{ min-width:170px;padding-top:10px;padding-bottom:10px; }
	.quick .fb-btn { background-color:#354E84;color:#fff; }
	.quick .tw-btn { background-color:#00A5E3;color:#fff; }
	.quick .tw-btn:hover { color:#fff; }
	.quick .fb-btn:hover { color:#fff; }
	.quick .fb-btn .fa, .quick .tw-btn .fa {padding-right:10px;font-size:20px;}

.check-box .panel-body:not(.two-col) { padding:0px }
.check-box .fa { margin-right:5px; }
.check-box .panel-body .radio,.panel-body .checkbox {margin-top: 0px;margin-bottom: 0px;}
.check-box .panel-body .list-group {margin-bottom: 0;}
.check-box .margin-bottom-none { margin-bottom: 0; }
.check-box .panel-body .radio label,.check-box .panel-body .checkbox label { display:block; }

.panel-title .fa{padding-right:10px; }

/*==============================================
    User Profile    
    =============================================*/


#menu-content-demo {
    padding-left: 86px !important;
    position: relative;
    white-space: nowrap !important;
	margin-top:20px;
	margin-bottom:20px;
}
#menu-content-demo img {
    border-radius: 999999px;
    display: block;
    height: 54px;
    left: -68px;
    position: absolute;
    top: 1px;
    width: 54px;
}
#menu-content-demo .text-bg {
    color: #fff;
    margin-bottom: 6px;
}
#menu-content-demo .btn {
    display: inline-block !important;
    height: 22px;
    line-height: 20px;
    opacity: 0.8;
    padding: 0;
    text-align: center;
    transition: all 0.1s ease 0s;
    width: 26px !important;
}
#menu-content-demo .btn:hover {
    opacity: 1;
}
#menu-content-demo > div {
    margin: 6px 0;
    position: relative;
}
#menu-content-demo .close {
    color: rgba(255, 255, 255, 0.2);
    font-size: 18px;
    font-weight: 300;
    opacity: 1;
    position: absolute;
    right: -5px;
    text-shadow: none;
    top: -15px;
    transition: all 0.2s ease 0s;
}
#menu-content-demo .close:hover {
    color: #fff;
}
.theme-clean #menu-content-demo .text-bg, .theme-white #menu-content-demo .text-bg {
    color: #444;
}
.theme-clean #menu-content-demo .close, .theme-white #menu-content-demo .close {
    color: #ccc;
}
.theme-clean #menu-content-demo .close:hover, .theme-white #menu-content-demo .close:hover {
    color: #888;
}
.right-to-left #menu-content-demo {
    padding-left: 20px !important;
    padding-right: 86px !important;
}
.right-to-left #menu-content-demo img {
    left: auto;
    right: -68px;
}
.right-to-left #menu-content-demo .close {
    left: -20px;
    right: auto;
}

.btn-outline{
	background:rgba(0,0,0,0.3) !important;
	border:none !important;
	
}


/*==============================================
    PROGRESS   
    =============================================*/

.progress{
	height:10px !important;
	margin-bottom:10px !important;
}



/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
        padding: 15px 30px;
        min-height: 1200px;
		
    }
	
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 220px;    
		 
		}

   .navbar {
 border-radius: 0px; 
}
	
	.sidebar-hide{
	display:none;	
	}
	
	.wrapper-100{
		margin-left:0px !important;
	}
   
}


@media (max-width: 767px) {
.sd-toggle{
	display:none;
}
.navbar-cls-top {
	margin-left:0px;
}
#page-wrapper{
	margin-top:50px;
}
.sidebar-collapse{margin-top:90px;}
}

.panel-info > .panel-heading > .panel-title {
	color: #434a54;
}

.list-item-row {
	border-top: 1px solid #434a54;
 }

.list-item {
	padding-top: 10px;
	padding-bottom: 10px;
 }

.head-list-row {

}

.head-list-item {
 	padding-bottom: 10px;
	padding-top: 10px;
}





/**iz SB admin*/
@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

 

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
     -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
     }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}



/*end iz SB admin*/